<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap.min.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <!-- <section id="works" class="py-5">
      <div class="container pt-5">
        <h1 class="heading text-center py-5">HOW IT WORKS</h1>
        <div class="row">
          <div class="col-lg-4">
            <div class="fade-holder active pt-5 d-none d-lg-block order-2">
              <h1 class="fade-number">1</h1>
              <div class="fade-body pt-5">
                <h5>So, how does it work?</h5>
                <p></p>
              </div>
            </div>
            <div class="fade-holder pt-5 d-none d-lg-block">
              <h1 class="fade-number">3</h1>
              <div class="fade-body pt-5">
                <h5>Know what you want?</h5>
                <p>
                  We're loving that energy. Search your preferred service or
                  product and click to book or buy instantly.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex justify-content-center">
              <img
                id="home-background"
                src="./img/cell-screen.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="fade-holder active pt-5 text-center d-block d-lg-none">
              <h1 class="fade-number">1</h1>
              <div class="fade-body pt-5">
                <h5 class="pt-5">So, how does it work?</h5>
                <p>
                  We're loving that energy. Search your preferred service or
                  product and click to book or buy instantly.
                </p>
              </div>
            </div>
            <div class="fade-holder pt-5 d-none d-lg-block order-1">
              <h1 class="fade-number">2</h1>
              <div class="fade-body pt-5">
                <h5>Feeling a little more browse-y?</h5>
                <p>
                  Scroll through our home feed to get inspired by our partners'
                  pics. Just click through to the services or products you’re
                  loving..
                </p>
              </div>
            </div>
            <div class="fade-holder pt-5 d-none d-lg-block">
              <h1 class="fade-number">4</h1>
              <div class="fade-body pt-5">
                <h5></h5>
                <p>Look and feel fabulous all of the time. Winning!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row py-5 text-center">
          <div class="col-lg-3 mx-auto py-5">
            <button
              class="btn button text-dark font-weight-bold px-5 py-3 btn-16"
            >
              DOWNLOAD NOW
            </button>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section>
      <div class="slider">
        <img src="./img/img1.png" id="slideImg" />

        <div class="dots">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
        </div>
      </div>
    </section> -->

    <!-- <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="fade-holder active pt-5">
              <h1 class="fade-number">1</h1>
              <div class="fade-body pt-5">
                <h5>So, how does it work?</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Temporibus obcaecati, quis optio sed aliquid vel rerum quia
                  quaerat
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <div class="fade-holder pt-5">
              <h1 class="fade-number">2</h1>
              <div class="fade-body pt-5">
                <h5>So, how does it work?</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Temporibus obcaecati, quis optio sed aliquid vel rerum quia
                  quaerat
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="fade-holder pt-5">
              <h1 class="fade-number">3</h1>
              <div class="fade-body pt-5">
                <h5>So, how does it work?</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Temporibus obcaecati, quis optio sed aliquid vel rerum quia
                  quaerat
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex justify-content-center margin-top">
              <img
                id="home-background"
                src="./img/cell-screen.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="fade-holder pt-5">
              <h1 class="fade-number">4</h1>
              <div class="fade-body pt-5">
                <h5>So, how does it work?</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Temporibus obcaecati, quis optio sed aliquid vel rerum quia
                  quaerat
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Working Slider -->
    <section id="works" class="py-5">
      <div class="container pt-5">
        <div class="grid slider">
          <div class="grid-area-1">
            <div class="fade-holder pt-md-5 active dot" onclick="currentSlide(1)">
              <h1 class="fade-number">1</h1>
              <div class="fade-body pt-md-5">
                <h5>So, how does it work?</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia sequi, adipisci, amet ducimus non dignissimos reiciendis, unde voluptatem fugit asperiores suscipit veritatis quae blanditiis? Blanditiis magnam eos illo rem qui.
                </p>
              </div>
            </div>
          </div>
          <div class="grid-area-2">
            <div class="fade-holder pt-md-5 dot" onclick="currentSlide(2)">
              <h1 class="fade-number">2</h1>
              <div class="fade-body pt-md-5">
                <h5>Feeling a little more browse-y?</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia sequi, adipisci, amet ducimus non dignissimos reiciendis, unde voluptatem fugit asperiores suscipit veritatis quae blanditiis? Blanditiis magnam eos illo rem qui.
                </p>
              </div>
            </div>
          </div>
          <div class="grid-area-3">
            <div class="fade-holder pt-md-5 dot" onclick="currentSlide(3)">
              <h1 class="fade-number">3</h1>
              <div class="fade-body pt-md-5">
                <h5>Know what you want?</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia sequi, adipisci, amet ducimus non dignissimos reiciendis, unde voluptatem fugit asperiores suscipit veritatis quae blanditiis? Blanditiis magnam eos illo rem qui.
                </p>
              </div>
            </div>
          </div>
          <div class="grid-area-4">
            <div class="fade-holder pt-md-5 dot" onclick="currentSlide(4)">
              <h1 class="fade-number">4</h1>
              <div class="fade-body pt-md-5">
                <h5>Look and feel fabulous all of the time. Winning!</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia sequi, adipisci, amet ducimus non dignissimos reiciendis, unde voluptatem fugit asperiores suscipit veritatis quae blanditiis? Blanditiis magnam eos illo rem qui.
                </p>
              </div>
            </div>
          </div>
          <div class="grid-area-5">
            <div class="d-flex justify-content-center">
              <img
                src="./img/img1.png"
                alt=""
                class="img-fluid"
                id="slideImg"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="./bootstrap.bundle.min.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
