/* ************Products css************** */

.add-new-cutomer>span {
    font-size: 30px;
}

.filter-bar.proc {
    padding: 30px 20px;
}

.filter-bar img {
    height: 18px;
}

.client-name.prod {
    color: var(--color-primary);
    font-weight: 600;
}

.prod-text,
.filter-bar>.text {
    font-size: var(--font-13);
    line-height: 17px;
    color: var(--secondary-text-color);
    vertical-align: middle;
    font-weight: 400;
}

.u-shadow {
    box-shadow: 0 12px 17px 1px rgba(35, 31, 32, .09);
}

.b-20 {
    border-radius: 20px;
}

.v-m {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.product-img,
.product-img img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 110px;
    max-height: 113px;
    background-color: white;
}

.add-btn-prod {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    right: 0;
    top: 0;
    background: var(--color-primary) url(../icons/add.png) no-repeat center center;
    background-size: 11px;
    z-index: 100;
}

.prod-logo,
.prod-logo img {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 6.15px;
}

.btn-inc-dec {
    background-color: white;
}

.brd {
    border-radius: 8px;
}

.btn-booking.proc {
    min-width: 75px;
    padding: 0;
}

.view-more {
    font-size: var(--font-14);
    line-height: 18px;
    color: var(--color-primary) !important;
}

.view-more,
label.prod-check {
    position: relative;
    color: var(--primary-text-color);
    margin-bottom: 0;
    font-weight: 400;
    padding: 5px 20px;
}

.check-title::after {
    content: '';
    position: absolute;
    top: calc(50% - 9px);
    right: 20px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 5.4px;
    border: 2px solid var(--color-e9);
}

.visually-hidden:checked~.check-title::after {
    background: var(--color-primary) url(../icons/tick-check.png) no-repeat center center;
    background-size: 10px;
    border: 0;
}

.visually-hidden:checked~.check-title {
    color: var(--color-primary);
    font-weight: 600;
    font-size: var(--font-14);
    line-height: 18px;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
}


/* *******Product Details********* */

.small-product {
    border: solid 2px var(--color-e9);
    background: var(--color-secondary);
    margin: 5px auto;
    cursor: pointer;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 12px;
}

.small-product img {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 43px;
    width: auto;
    display: block;
    margin: 7px auto;
}

.small-product.active img {
    filter: blur(0);
    -webkit-filter: blur(0);
}

.price-tag {
    width: 173px;
    height: 60px;
    position: absolute;
    background: var(--color-primary);
    border-radius: 100px 0 0 100px;
    top: 70px;
    right: 0;
    padding: 8px 48px;
}

.price-tag>.amount {
    font-size: var(--font-30);
    line-height: 40px;
    font-weight: 600;
}

.price-tag>.amount>.currency {
    font-size: var(--font-22);
    line-height: 30px;
    font-weight: 600;
}

.u-form-control.pdor {
    max-width: 280px;
}

.color-holder {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
}

.single-color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #efcfad;
}

.single-color.active {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 1);
    border: 3px solid var(--color-fifth);
}

.dorpdown-tab .dropdown-ico {
    height: 10px;
    width: 20px;
    display: inline-block;
    background: url(../icons/select-carret-down.png) no-repeat center center;
    background-size: 15px;
}

.dorpdown-tab.active .dropdown-ico {
    transform: rotate(180deg);
}


/* iframe */

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    /*16:9 ratio*/
    position: relative;
    border-radius: 10px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.btn-inc-dec.prod {
    height: 46px;
    width: 46px;
}


/* ********************Media Queries************************* */

@media only screen and (max-width: 767px) {
    .client-name.prod {
        font-size: var(--font-20);
        line-height: 28px;
    }
    .category-title.prod {
        font-size: var(--font-12);
        line-height: 16px;
    }
    .add-btn-prod {
        width: 24px;
        height: 24px;
        background-size: 8px;
    }
    .brd {
        border-radius: 0;
    }
    /* ******Product Details****** */
    .price-tag {
        width: unset;
        height: 60px;
        text-align: center;
        position: unset;
        border-radius: 0;
        margin-left: -25px;
        margin-right: -25px;
    }
    .color-holder {
        white-space: nowrap;
        overflow-x: scroll;
    }
    .btn-inc-dec.prod {
        height: 35px;
        width: 35px;
    }
    .next-button.prod {
        min-height: 35px;
        min-width: 135px;
    }
    .giftcard-heading.prod {
        font-size: var(--font-15);
        text-align: center;
    }
}