<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="robots" content="index,follow" />
    <meta
      name="description"
      content="Nadeem Archer is front end developer specialized in html, css and javascript"
    />
    <link rel="shortcut icon" href="../icons/code.svg" type="image/x-icon" />
    <title>Nadeem Archer | Nadeem is a front end developer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <header class="main-head">
      <nav>
        <div class="logo">
          <img src="../icons/code.svg" alt="logo" />
          <h1>Nadeem Archer</h1>
        </div>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../projects/index.html">Projects</a></li>
          <li><a class="active" href="./">Contact</a></li>
        </ul>
      </nav>
    </header>
    <section class="form-section">
      <form>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required />
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required />
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="10"></textarea>
        <button type="submit">Submit</button>
      </form>
    </section>
    <footer>
      <h4>Nadeem Archer &copy; 2021</h4>
      <ul>
        <li>
          <a href="#"
            ><img src="../icons/instagram 1.svg" alt="Instagram Social Media"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="../icons/youtube-symbol 1.svg"
              alt="Youtube Social Media"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../icons/twitter 1.svg" alt="Twitter Social Media"
          /></a>
        </li>
      </ul>
    </footer>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>

    <script src="../js/index.js"></script>
  </body>
</html>
