footer {
  background: $background-color;
  color: white;
  margin-top: 2rem;
  min-height: 10vh;
  padding: 2rem 5%;
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  ul {
    @include flex(row, space-between, center);
    li {
      margin: 0 2rem;
    }
  }
  h4 {
    flex: 1 1 34.6rem;
  }
}
