.intro {
  width: 90%;
  margin: auto;
  min-height: 85vh;
  flex-wrap: wrap;
  @include flex(row, space-between, center);
  h2 {
    font-size: 8rem;
    padding-top: 2rem;
    font-family: "Vibes";
    background-image: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    font-size: 6rem;
    padding: 2rem 0;
  }
  p {
    padding-top: 2rem;
    color: $gray-text;
  }
}
.splash {
  position: absolute;
  height: 100%;
  top: 0%;
  right: 0%;
  z-index: -1;
  min-height: 594px;
}
.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
}

.active {
  //   background: $gray-text;
  border-bottom: 2px solid $gray-text;
  color: $background-color;
  padding: 0.5rem 2rem;
  //   border-radius: 2rem;
}
.intro-text,
.intro-images {
  flex: 1 1 34.6rem;
}
#plant-left {
  animation: plant 2s infinite alternate;
}
#plant-right {
  animation: plant 2s infinite alternate 1s;
}
#me {
  animation: me 2s infinite alternate;
  transform-origin: bottom;
}
#clock-arrow {
  animation: clock 1s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-50%);
  }
}
